div {background: url(DSC_7835.jpg);
    background-size: 80px 60px;
    background-repeat: no-repeat;}
body {color: #000000; 
	text-align: center;
}
h1{color: #000000; text-align: center;}
h3{color: gold; text-align: center;}
p{text-align: center}
ul
li
img
#slogan