body {
  text-align: center;
  background: url("http://i.imgur.com/lJ6Abrq.jpg");
  background-size: cover;
  color: gold;
  font-family: Helvetica;
}
h1
hr {
  width: 200px;
}
p {
  font-size: 22px;
}